body{
  font-family: "Ubuntu", sans-serif;
  font-size: 17px;
  background-color: #fdfdfd;
}
.card{
  box-shadow: 0 16px 48px #E3E7EB;
}
.masthead {
  background: #3398E1;
  height: auto;
  padding-bottom: 15px;
  box-shadow: 0 16px 48px #E3E7EB;
  padding-top: 10px;
}
